html {
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}

body{
	width: 100%;
  	height: 100%;
	margin: 0;
	background-color: #ffc929;
	font-family: Georgia, fantasy;
}

.navbar{
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: rgb(243,5,65);
	opacity: 0.75;
}
.logo{
	position: relative;
	left: 30%;
}
.corpo{
	background-color: #ffc929;
}
.opzionicontainer{
	width: 80%;
	height: 60px;
	background-color: #ff2525eb;
	position: relative;
	top: 85px;
	margin: auto;
	border-radius: 4px;
	transition-duration: 0.5s;
}
.filtri-box{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	font-size: 20px;
}
.filtri{
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 23px;
	padding-left: 23px;
	margin-left: 10px;
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	box-sizing: border-box;
	border-radius: 32px;
	color: #555555;
	overflow: hidden;
	background-color: #2f3640;
	z-index: 1;
}
.filtri{
	transition-delay: .5s;
}
.filtri:before{
	content: '';
	position: absolute;
	left: 45px;
	top: 50%;
	transform: translateY(-50%) scale(1);
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 50%;
	z-index: -1;
	transition-property: left, transform;
	transition-delay: 0s, 0s;
	transition-duration: .5s, 0.5s;
	opacity: 0;
}
.filtri:hover:before{
	left: 5px;
	transform: translateY(-50%) scale(50);
	transition-delay: 0s, 0.5s;
	opacity: 1;
}
.filtri:after{
	content: '';
	position: absolute;
	right: 45px;
	top: 50%;
	transform: translateY(-50%) scale(1);
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 50%;
	z-index: -1;
	transition-property: right, transform;
	transition-delay: 0s, 0s;
	transition-duration: .5s, 0.5s;
	opacity: 0;
}
.filtri:hover:after{
	right: 5px;
	transform: translateY(-50%) scale(50);
	transition-delay: 0s, 0.5s;
	opacity: 1;
}
.ricerca-box{
	position: relative;
	background: #2f3640;
	height: 20px;
	border-radius: 20px;
	float: right;
	padding: 10px;
	top: 10px;
	right: 5px;
}
.ricerca-box:hover > .ricerca-txt{
	width: 150px;
	padding: 0 6px;
	transition: 0.5s;
}
.ricerca-box:hover > .ricerca-btn{
	background: white;
	transition: 0.5s;
	right: -10px;
}
.ricerca-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	width: 0px;

}
.ricerca-btn{
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.5s;
	top: -10px;
	right: 0px;
}
.container{
	width: 80%;
	top: 100px;
	height: 430px;
	padding: 5px;
	background-color: #ff2525eb;
	margin: auto;
	position: relative;
	float: inherit;
	border-radius: 4px;
}
.elenco{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right:200px;
}
.elemento{
	border: 2px black solid;
	border-bottom: 0px;
	height: 200px;
	padding: 4px;
	width:100%;
}
.immagine{
	position: relative;
	float: left;
	height: 200px;
	border-radius: 4px;
	width: 25%;

}
.informazioniprincipali{
	font-size: 30px;
	width:50%;
	float:left;
	height:100%;
}
span{
	position:relative;
	top:10px;
}
.ads{
	position: relative;
	top: 150px;
	background-color: #aaa;
	height: 80px;
	width: 100%;
}
.footer{
	position: relative;
	top: 150px;
	height: 100px;
	width: 100%;
	background-color: rgb(243,5,65);
}
.EJlogo{
	height: 100%;
	width: 50%;
	float: left;
}
.info{
	position:relative;
	height: 100%;
	width: 50%;
	float: right;
	align-items: center;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}
